h1 {
  font-size: 90px;
  color: rgb(214, 73, 73);
  font-family: Lucida;
  font-weight: bold;
}
.lead {
  color: bisque;
  font-family: cursive;
}
/* .jumbotron {
  background-image: url("../image.jpg");
} */
#myTable {
  color: rgb(144, 181, 181);
}
form {
  padding: 10px;
  /* border:1px solid black; */
  /* background-color: darkgray; */
}

td {
  background-color: aquamarine;
}

tr {
  background-color: green;
}
